
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    color: #333;               
    margin: 0;
    padding: 0;
}


h1 {
    color: #2c3e50; 
    text-align: center;
    margin-top: 50px;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
